name: docs

on:
  push:
    branches:
    - main
  pull_request:
    # Don't run on code-only changes
    paths-ignore:
    - '**.cabal'
    - '**.hs'
    - '**.py'
    - '**.scala'

concurrency:
  # Only run one of these at a time because they update the global pages.  Don't
  # cancel existing runs
  group: "greasedoc"
  cancel-in-progress: false

jobs:
  docs:
    runs-on: ubuntu-22.04
    name: docs
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    # The default is 360 (i.e., 6 hours), which can be wasteful. See:
    # https://github.com/Cambridge-ICCS/green-ci/blob/b9e942d81e4d6536d69f3cfbffe28fa14b8ae381/README.md#time-limits
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: false

    - name: Setup mdBook
      uses: peaceiris/actions-mdbook@v2
      with:
        mdbook-version: '0.4.24'

    - name: Build docs
      working-directory: doc
      run: mdbook build

    - name: Upload docs artifact to GitHub Pages
      uses: actions/upload-pages-artifact@v3
      if: github.ref == 'refs/heads/main' &&
          github.event.pull_request.head.repo.fork == false &&
          github.repository_owner == 'GaloisInc'
      with:
        path: doc/book/

    - name: Deploy docs to GitHub Pages
      uses: actions/deploy-pages@v4
      if: github.ref == 'refs/heads/main' &&
          github.event.pull_request.head.repo.fork == false &&
          github.repository_owner == 'GaloisInc'
      id: deployment
