name: lint

on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04
    name: lint
    # The default is 360 (i.e., 6 hours), which can be wasteful. See:
    # https://github.com/Cambridge-ICCS/green-ci/blob/b9e942d81e4d6536d69f3cfbffe28fa14b8ae381/README.md#time-limits
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
        with:
          # https://github.com/actions/checkout/issues/485
          persist-credentials: false
          submodules: false

      - uses: haskell-actions/run-fourmolu@v11
        name: Check formatting with fourmolu
        with:
          version: "0.19.0.0"

      - name: Setup Ghidra
        uses: ./.github/actions/ghidra-install

      - name: Lint Ghidra plugin Scala
        shell: bash
        run: cd ghidra-plugin && ./gradlew spotlessCheck

      - name: Check for broken links
        uses: langston-barrett/mdlynx/.github/actions/mdlynx@v0.3.0

      - name: Check for trailing whitespace
        run: >
          python3 scripts/lint/whitespace.py
          $(git ls-files '*.cabal')
          $(git ls-files '*.hs')
          $(git ls-files '*.md')
          $(git ls-files '*.py')
          $(git ls-files '*.scala')

      - name: Install ruff
        uses: astral-sh/ruff-action@v3

      - name: Ensure python files are formatted
        run: ruff format --check --diff $(git ls-files '*.py')

      - name: Lint python files with ruff
        run: ruff check $(git ls-files '*.py')

      - name: Run hlint
        run: |
          curl \
            --fail \
            --location \
            --proto '=https' \
            --show-error \
            --silent \
            --tlsv1.2 \
            https://github.com/ndmitchell/hlint/releases/download/v3.8/hlint-3.8-x86_64-linux.tar.gz | \
            tar xzf - hlint-3.8/hlint
          ./hlint-3.8/hlint grease{,-aarch32,-ppc,-x86}/src grease-cli/src grease-exe/{main,src,tests}

      - name: Spell check docs
        # We pin a specific version because updates can come with additional
        # typo fixes. These could break CI unexpectedly if we just pinned @v1.
        uses: crate-ci/typos@v1.32.0
        with:
          files: doc/

      - name: Find stale TODOs
        env:
          GH_TOKEN: ${{ github.token }}
        run: >
          python3 scripts/lint/stale-todo.py
          $(git ls-files '*.cabal')
          $(git ls-files '*.hs')
          $(git ls-files '*.md')
          $(git ls-files '*.py')
          $(git ls-files '*.scala')
